body {
  background-color: black;
  color: white;
  font-family: monospace;
  text-align: center;
  font-family: 'C64', monospace;
}

.terminal {
  border: 1px solid #00ff00;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: scroll;
  max-height: 480px;
}

button {
  font-family: 'C64', monospace;
  background-color: #00ff00;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #00dd00;
}

#history {
  list-style: none; /* Remove the default list-style */
  padding: 0; /* Remove default list padding */
}

#history li {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
